body {
  margin: 0;
  padding: 0;
}

.slider-container {
  width: 90wv;
  max-width: 400px;
  margin: 40px auto;
  overflow: hidden;
}
.slider-container2 {
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}
.slider__wrap {
  display: flex;
}
.slider__item {
  height: 600px;
  width: 100%;
  flex-shrink: 0;
  background: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider__item:nth-child(2) {
  background: red;
}
.slider__item:nth-child(3) {
  background: green;
}
h1 {
  color: #fff;
  font-size: 40px;
  font-family: sans-serif;
  text-transform: uppercase;
}